Repository onlogic/Pykarbon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_dev, deploy_staging, deploy_production

.gitlab-ci.yml:

# Official language image. Look for the different tagged releases at:
# https://hub.docker.com/r/library/python/tags/
image: python:latest

# Change pip's cache directory to be inside the project directory since we can
# only cache local items.
variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

# Pip's cache doesn't store the python packages
# https://pip.pypa.io/en/stable/reference/pip_install/#caching
#
# If you want to also cache the installed packages, you have to install
# them in a virtualenv and cache it as well.
cache:
  paths:
    - .cache/pip

stages:
  - test
  - build
  - deploy

before_script:
  - python3 -V

# We run test on local repo only when testing development branches
test_dev:
  stage: test
  only:
    changes: # Will always run on first push of new branch
      - test/*.py
      - pykarbon/*.py
  except:
    - master
    - staging
  script:
    - tox # Use tox to run tests
  tags:
    - k300

# Always test before deploying
test_staging:
  stage: test
  only:
    - staging
  script:
    - tox
  tags:
    - k300

# Wheel for deployment to pypi
make_wheel:
  stage: build
  when: on_success
  only:
    - master
    - staging
  script:
    - python3 setup.py bdist_wheel
    - python3 setup.py sdist
  artifacts:
    paths:
    - dist/*
  tags:
    - k300

# Deploy to testpypi from staging branch
deploy_staging:
  stage: deploy
  when: on_success
  only:
    refs:
      - staging
    changes:
      - setup.py
  before_script:
    - pip install twine
  variables:
    TWINE_USERNAME: $PYPI_USER
    TWINE_PASSWORD: $PYPI_PASSWORD
  script:
    - twine upload --repository-url https://test.pypi.org/legacy/ dist/*
  tags:
    - k300

# Deploy to live pypi from master branch
deploy_production:
  stage: deploy
  when: on_success
  only:
    refs:
      - master
    changes:
      - setup.py
  before_script:
    - pip install twine
  variables:
    TWINE_USERNAME: $PYPI_USER
    TWINE_PASSWORD: $PYPI_PASSWORD
  script:
    - twine upload dist/*
  tags:
    - k300

#pages:
#  script:
#  - cd doc ; make html
#  - mv build/html/ ../public/
#  artifacts:
#    paths:
#    - public
#  only:
#  - master

Resolve "Setup.py Requires Update"
  LICENSE.txt
  setup.py
Due: deploy_staging, deploy_production

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Reduce strictness of timing characteristics during tests
  test/test_can.py
  test/test_pykarbon.py
Due: test_dev

Develop staging:
  .gitlab-ci.yml
  LICENSE.txt
  setup.py
  test/test_can.py
  test/test_pykarbon.py
Due: test_dev, deploy_staging, deploy_production

Resolve "Test Coverage":
  .gitlab-ci.yml
  test/__init__.py
  tox.ini
Due: test_dev

Resolve "Update Info Fails":
  pykarbon/hardware.py
  test/test_hardware.py
  test/test_pykarbon.py
  tox.ini
Due: test_dev

Resolve "Update Info Fails"
  .gitlab-ci.yml
  CHANGES.txt
  pykarbon/terminal.py
  setup.py
  test/test_pykarbon.py
  test/test_terminal.py
Due: test_dev, deploy_staging, deploy_production

Resolve "Set_Param Failures"
  CHANGES.txt
  pykarbon/terminal.py
  setup.py
  test/test_pykarbon.py
Due: test_dev, deploy_staging, deploy_production

Changes:
  .gitlab-ci.yml
  CHANGES.txt
  pykarbon/hardware.py
  pykarbon/terminal.py
  setup.py
  test/__init__.py
  test/test_hardware.py
  test/test_pykarbon.py
  test/test_terminal.py
  tox.ini
Due: test_dev, deploy_staging, deploy_production

Resolve "Pykarbon Examples"
  .gitignore
  doc/source/_static/custom.css
  doc/source/conf.py
  doc/source/contents/api.rst
  doc/source/contents/intro.rst
  doc/source/contents/quickstart.rst
  doc/source/index.rst
Due: none

Develop staging:
  .gitignore
  doc/source/_static/custom.css
  doc/source/conf.py
  doc/source/contents/api.rst
  doc/source/contents/intro.rst
  doc/source/contents/quickstart.rst
  doc/source/index.rst
Due: none

Make master doc 'index'
  doc/source/conf.py
Due: none

Develop staging:
  doc/source/conf.py
Due: none

Resolve "CAN Autobaudrate Detection Hangs w/o CAN Bus"
  pykarbon/can.py
  pykarbon/hardware.py
  pykarbon/pykarbon.py
  pykarbon/terminal.py
  setup.py
  test/test_can.py
  test/test_pykarbon.py
  tox.ini
Due: test_dev, deploy_staging, deploy_production

Fix broken DIO reactions, and add tests to partially cover.
  pykarbon/terminal.py
  test/test_terminal.py
Due: test_dev

Resolve "Add API Support For Reading System Voltage"
  pykarbon/core.py
  pykarbon/terminal.py
  setup.py
  test/test_can.py
  test/test_core.py
  test/test_pykarbon.py
Due: test_dev, deploy_staging, deploy_production

Resolve "Improve and Link Documentation"
  CHANGES.txt
  README.rst
  doc/source/conf.py
  doc/source/contents/api.rst
  doc/source/contents/intro.rst
  doc/source/contents/quickstart.rst
  pykarbon/can.py
  pykarbon/core.py
  pykarbon/hardware.py
  pykarbon/pykarbon.py
  pykarbon/terminal.py
  setup.py
Due: test_dev, deploy_staging, deploy_production

Resolve "Cannot Send Data with Leading '00'"
  CHANGES.txt
  pykarbon/can.py
  test/test_can.py
Due: test_dev

Resolve "Register Callback Fails on Zero Length Can Message"
  CHANGES.txt
  pykarbon/can.py
  setup.py
  test/test_can.py
  test/test_pykarbon.py
Due: test_dev, deploy_staging, deploy_production

Resolve "Active Canbus Crashes"
  CHANGES.txt
  pykarbon/hardware.py
  setup.py
Due: test_dev, deploy_staging, deploy_production

(FIX) Patch several issues with can module
  CHANGES.txt
  pykarbon/can.py
  pykarbon/hardware.py
  setup.py
  test/test_can.py
  test/test_pykarbon.py
Due: test_dev, deploy_staging, deploy_production

Add support for python3.5:
  .gitlab-ci.yml
  README.rst
  pykarbon/can.py
  pykarbon/core.py
  setup.py
  test/test_core.py
  tox.ini
Due: test_dev, deploy_staging, deploy_production

Update README.rst with new OnLogic name
  README.rst
Due: none

Resolve issues with Python3.5, and update name to reflect transition on OnLogic
  README.rst
Due: none

Resolve "100% CPU Consumption when Auto-monitoring"
  pykarbon/can.py
  setup.py
Due: test_dev, deploy_staging, deploy_production

Fix odd-length messages sent from pykarbon.core
  pykarbon/core.py
  setup.py
Due: test_dev, deploy_staging, deploy_production

Resolve "100% CPU Consumption when Auto-monitoring"
  pykarbon/can.py
  pykarbon/core.py
  setup.py
Due: test_dev, deploy_staging, deploy_production

Make update karbon firmware script more usable in Ubuntu
  scripts/update_karbon_firmware
  setup.py
Due: deploy_staging, deploy_production

Add i2c bus read/write functionality. Requires firmware version >= 3.1.0.9
  .gitlab-ci.yml
  pykarbon/__init__.py
  pykarbon/hardware.py
  pykarbon/i2c.py
  test/test_can.py
  test/test_core.py
  test/test_hardware.py
  test/test_i2c.py
  test/test_terminal.py
  tox.ini
Due: test_dev

Update version, add python 3.8 support
  setup.py
Due: deploy_staging, deploy_production

Add i2c bus read/write functionality. Requires firmware version >= 3.1.0.9
  .gitlab-ci.yml
  pykarbon/__init__.py
  pykarbon/hardware.py
  pykarbon/i2c.py
  scripts/update_karbon_firmware
  setup.py
  test/test_can.py
  test/test_core.py
  test/test_hardware.py
  test/test_i2c.py
  test/test_terminal.py
  tox.ini
Due: test_dev, deploy_staging, deploy_production

Update api.rst with i2c docs
  doc/source/contents/api.rst
Due: none

Correct automodule
  doc/source/contents/api.rst
Due: none

intro.rst: Fix typos
  doc/source/contents/intro.rst
Due: none

📝 intro.rst: Minor typos
  doc/source/contents/intro.rst
Due: none

📝 quickstart.rst: Minor changes to wording
  doc/source/contents/quickstart.rst
Due: none
